extends ../main.layout.pug

block variables
  - const title = 'Стартовый шаблон '
  - const h1 = 'Стартовый шаблон'
  - const description = 'Мой стартовый шаблон для web-проектов.'

block content
  img(src='images/docs/preview.jpg', alt='Стартовый шаблон')
  p Невероятно, но факт. Только 10% людей вступают в дискуссии со своими котами, остальные 90%, слава богу, еще в здравом уме и просто прислушиваются к их советам.
  p Разговаривать с кошкой — это не паранойя. Паранойя — это когда боишься при кошке сболтнуть лишнего.
  p Моя кошка думает, что я живу в ее доме. А иногда в ее взглядах я ловлю намеки, что мне пора жить отдельно.
