@mixin font($font-name, $font-style, $font-weight, $font-url) {
	@font-face {
		font-family: $font-name;
		font-style: $font-style;
		font-weight: $font-weight;
		src: url('#{$font-url}.woff2') format('woff2'), url('#{$font-url}.woff') format('woff');
	}
}
